extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          h1 Main Title.
          p.lead Description of page.
          a(href="/") Go home

  script.
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("active");
    });